<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		  {{!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-88w0u/oucDSTE30ETLLIobzhT+bQ6CSsiqQyLZpwHvve89eqUA9F2Db6ST6jGRLx" crossorigin="anonymous"> --}}
		
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Eat-Da-BURGER!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
